.cardDet{
    display: block;
    position: relative;
    left: 25%;
    padding: 10px;
    align-items: center;
    background-color: aliceblue;
    width: 800px;
    border:6px solid rgb(206, 206, 206);
    border-radius: 0px;
    height: auto;    
    
}
.flagDet{
    position: relative;
    height: 300px;
    left: 20%;
}
.acts{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.acts1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.acts2{
    margin-left: 10%;
}