.container{
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    color: aliceblue;    

    
}
.title{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: xx-large;

}
.Links{
   display: inline;
   float: right;
   position: relative;
   bottom: 55px;
   right: 20px;
   margin-left: 20px;
}

.searchBar{
    margin-left: 40%;
}
.inputSearch{
    height: 30px;
    width: 300px;
    position: relative;
    bottom: 25px;
    border: 2px solid rgb(255, 255, 255);
    font-size: large;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(144, 144, 144);
}
.buttonSearch{
    height: 36px;
    font-size: large; 
    width: 180px;
    position: relative;
    bottom: 26px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(87, 87, 87);
    background-color:#ffffff;
    box-shadow: 2px 2px 5px rgb(144, 144, 144);
    margin-left: 2px;
}